$body-background-color: #13101f;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200 ;

$body-text-color: #ffffee;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;

$link-color: #00e8b3;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
$base-svg-path: #026e57;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #171326;
