button,
input,
optgroup,
select,
option,
textarea {
  color: white; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  background-color: #2c2b30;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.07), 0 4px 14px rgba(0,0,0,.05);
  border: none;
}

input[type="text"]{
  border: solid white;
  border-width: thin;
}

#subjects {
   color: white; width: 160px; height: 210px; border: 1px solid white; padding: 0 0 0 10px; float:left; background-color:#2c2b30; margin-bottom: 10px
}

$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-250;
