<div style="width: 100%" align="center">
    <div style="margin: auto; width: 100%"><div style="float: left; width: 200px; margin-right: 20px"><p>Enter the homework code and click the button.</p>
        <p>Code:
            <input type="text" id="homework" value="0" size="3" maxlength="3">
            <input type="button" value="Send!" onClick="decode();">
        </p>
    </div>
        <DIV id="subjects" style="width: 160px; height: 210px; border: 1px solid black; padding: 0 0 0 10px; float:left; background-color:#FFFFFF; margin-bottom: 10px"></DIV></div>

    <p style="clear: left"></p>
</div>
