<div id="container">
    <div class="binary">
        <div class="column"><div class="column_heading">128</div><div id="7" class="bit" onClick="toggle_bit(7);">0</div></div>
        <div class="column"><div class="column_heading">64</div><div id="6" class="bit" onClick="toggle_bit(6);">0</div></div>
        <div class="column"><div class="column_heading">32</div><div id="5" class="bit" onClick="toggle_bit(5);">0</div></div>
        <div class="column"><div class="column_heading">16</div><div id="4" class="bit" onClick="toggle_bit(4);">0</div></div>
        <div class="column"><div class="column_heading">8</div><div id="3" class="bit" onClick="toggle_bit(3);">0</div></div>
        <div class="column"><div class="column_heading">4</div><div id="2" class="bit" onClick="toggle_bit(2);">0</div></div>
        <div class="column"><div class="column_heading">2</div><div id="1" class="bit" onClick="toggle_bit(1);">0</div></div>
        <div class="column"><div class="column_heading">1</div><div id="0" class="bit" onClick="toggle_bit(0);">0</div></div>
        <div class="decimal">= <input type="text" id="value_A" onInput="set_bits();" size="3" maxlength="3"></div>
    </div><br style="clear: left">
    <div id="operators"><select id="operator" onChange="change_operator();">
        <option value="AND">AND</option>
        <option value="OR"> OR</option>
        <option value="XOR">XOR</option>
    </select>
        <div class="opcol">AND</div>
        <div class="opcol">AND</div>
        <div class="opcol">AND</div>
        <div class="opcol">AND</div>
        <div class="opcol">AND</div>
        <div class="opcol">AND</div>
        <div class="opcol">AND</div>
        <div class="opcol">AND</div>

    <div class="binary">
        <div class="column"><div class="column_heading">128</div><div id="15" class="bit" onClick="toggle_bit(15);">0</div></div>
        <div class="column"><div class="column_heading">64</div><div id="14" class="bit" onClick="toggle_bit(14);">0</div></div>
        <div class="column"><div class="column_heading">32</div><div id="13" class="bit" onClick="toggle_bit(13);">0</div></div>
        <div class="column"><div class="column_heading">16</div><div id="12" class="bit" onClick="toggle_bit(12);">0</div></div>
        <div class="column"><div class="column_heading">8</div><div id="11" class="bit" onClick="toggle_bit(11);">0</div></div>
        <div class="column"><div class="column_heading">4</div><div id="10" class="bit" onClick="toggle_bit(10);">0</div></div>
        <div class="column"><div class="column_heading">2</div><div id="9" class="bit" onClick="toggle_bit(9);">0</div></div>
        <div class="column"><div class="column_heading">1</div><div id="8" class="bit" onClick="toggle_bit(8);">0</div></div>
        <div class="decimal">= <input type="text" id="value_B" onInput="set_bits();" size="3" maxlength="3"></div>
    </div><br style="clear: left">
    <div class="binary">
        <div class="opeq">=</div>
        <div class="opeq">=</div>
        <div class="opeq">=</div>
        <div class="opeq">=</div>
        <div class="opeq">=</div>
        <div class="opeq">=</div>
        <div class="opeq">=</div>
        <div class="opeq">=</div>
    </div><br style="clear: left">
    <div class="binary">
        <div class="column"><div class="column_heading">128</div><div id="23" class="bit">0</div></div>
        <div class="column"><div class="column_heading">64</div><div id="22" class="bit">0</div></div>
        <div class="column"><div class="column_heading">32</div><div id="21" class="bit">0</div></div>
        <div class="column"><div class="column_heading">16</div><div id="20" class="bit">0</div></div>
        <div class="column"><div class="column_heading">8</div><div id="19" class="bit">0</div></div>
        <div class="column"><div class="column_heading">4</div><div id="18" class="bit">0</div></div>
        <div class="column"><div class="column_heading">2</div><div id="17" class="bit">0</div></div>
        <div class="column"><div class="column_heading">1</div><div id="16" class="bit">0</div></div>
        <div id="result">= 0</div>
    </div>
</div>




<style>
    #binary			{width: 100%;}
    #decimal		{font-family: Arial, Helvetica, sans-serif; float: left; font-size: 5vw; width: 21vw; margin: 2.7vw 0 0 2vw; float: left}
    .column_heading	{font-size: 1.6vw;}
    .binary			{width: 620px; margin: auto}
    #container		{width: 560px; display: block; margin: auto; margin-bottom :30px}
    #too_big		{display: none; font-style: italic; clear: left}
    #operators		{width: 680px; margin: auto; margin-left: -20%}
    .decimal		{font-size: 48px; width: 160px; font-size:48px; margin: 25px 0 0 10px; float:left}
    #result			{font-size: 48px; width: 160px; margin: 25px 0 0 10px; float:left}
    .column			{font-family: Arial, Helvetica, sans-serif; float: left; text-align: center; width: 54px}
    .opcol			{float: left; text-align: center; width: 54px; height: 45px; padding-top: 20px; vertical-align:middle; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform:rotate(90deg); -ms-transform:rotate(90deg)}
    .opeq			{float: left; text-align: center; padding-bottom: 10px; width: 54px; height: 30px; font-size: 38px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform:rotate(90deg); -ms-transform:rotate(90deg)}
    .bit			{font-size: 64px; background-color: #FFFFFF; color:#000000; cursor: pointer; border-radius: 7px; margin: 2px; border: 1px solid black}
    #operator		{display: inline;  background: transparent; border: 0; font-size: 37px; width: 120px; margin: auto; float: left; margin-top: 11px}
    #value_A, #value_B	{font-size: 32px; width: 58px; vertical-align: top; padding-top: 0px; margin-top: 6px}
    @media screen and (max-width: 720px) {
        #container	{display: none}
        #too_big	{display: block}
    }
</style>
