
<div id="boolean">
    <div id="0_bool" class="switch" onClick="toggle_switch(0);"></div>
    <select id="operator" onChange="show_result();">
        <option value="AND">AND</option>
        <option value="OR"> OR</option>
        <option value="XOR">XOR</option>
        <option value="NOT">NOT</option>
    </select>
    <div id="1_bool" class="switch" onClick="toggle_switch(1);"></div> <div style="float: left; font-size: 60px; margin: 20px"> = </div>
    <div id="result" class="bulb"></div>
</div>

---


<style>
    #boolean	{width: 585px; margin: auto;}
    #too_big	{display: none; font-style: italic; clear: left}
    #operator	{display: inline; width: 185px; float: left; font-size: 60px; text-align: center; margin: 20px}
    .bulb		{float: left; background-image:url(../assets/images/bulb_off.png); width: 60px; height: 100px; margin: 5px}
    .switch		{float: left; background-image:url(../assets/images/switch_off.png); width: 87px; height: 90px; margin: 10px 5px 0px 5px}
    @media screen and (max-width: 600px) {
        #boolean	{display: none}
        #too_big	{display: block}
    }
</style>
