<html>
<head>

    <script src="../assets/js/ModuleCheckpoints.js"></script>
    <script
            src="../assets/js/vendor/jquery-3.4.1.min.js"></script>

    <script
            src="../assets/js/interactive_soda_machine.js"></script>

    <script src="../assets/js/raphael-min.js"> </script>
    <title>Finite State Machines</title>
</head>
<body lang="EN-US">
<div class="WordSection1" align="center">
    <div class="center">

        <div id="soda_machine_fsm_canvas"
             style="position: relative; height: 30%; -moz-user-select: none;">

        </div>
        <br>

        <p>The “idle” state is the first state the machine gets into after its been “turned on”, also this is the state we “Reset” the machine into.
            Note that the FSM is a Moore machine, since the output relates to the current state.</p>

        <h2 align="left"> Experiment</h2>

        <div id="soda_machine_graphics_canvas"
             style="height: 50%; -moz-user-select: none;">

        </div>


    </div>
</div>

</body>
</html>
