<html>
<head>

    <script src="../assets/js/ModuleCheckpoints.js"></script>
    <script
            src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>

    <script
            src="../assets/js/interactive_soda_machine.js"></script>

    <script src="../assets/js/raphael-min.js"> </script>
    <title>Finite State Machines</title>
</head>
<body lang="EN-US">
<div class="WordSection1">
    <div class="center">
        <div id="soda_machine_graphics_canvas"
             style="height: 50%; -moz-user-select: none;">

        </div>
        <br>
        <div id="soda_machine_fsm_canvas"
             style="position: relative; height: 30%;width: 80%; -moz-user-select: none;">

        </div>
    </div>
</div>

</body>
</html>
