

<style>
.container		{width: 450px; margin: auto; margin-top: -10px;}
.circuit		{display: inline-block; float: left; width: 100%; min-width: 450px; border: 2px solid Grey; padding: 0px 5px 0px 5px; height: 460px; margin: 2px}
.bulb			{float: left; background-image:url(../assets/images/bulb_off.png); width: 60px; height: 100px; margin: 80px 0px 0px 5px}
.dark			{background-image:url(../assets/images/dark_off.png); background-repeat: no-repeat; width: 100px; height: 115px; margin: 10px; padding: 1px}
.burglar		{background-image:url(../assets/images/burglar_off.png); background-repeat: no-repeat; width: 100px; height: 115px; margin: 10px; padding: 1px}
.switch			{background-image:url(../assets/images/switch_off.png); background-repeat: no-repeat; width: 87px; height: 105px; margin: 25px 5px 15px 5px; padding: 1px}
.label			{margin-top: 100px; text-align: center; font-style:italic}
.drop 			{height: 110px; width: 110px; padding: 5px; border: 1px dashed black; float: left; margin: 75px -9px 0 -22px}
.tile			{margin-left: 5px; float:left; max-width: 70px; max-height: 70px; height: 15%; width: 15%}
#clipboard		{position: relative; float:right; width: 75px; height: 75px; border: 1px dotted green; margin: -2px 5px 5px 5px; overflow: hidden; text-align:center}
#clipboard img	{padding: 2px; float:none}

@media screen and (max-width: 849px) {
.clipboard_div {padding-top: 10%;margin: 5%;}
}
@media screen and (max-width: 499px) {
    p			{display: none}
.circuit	{display: none}
.tile		{display: none}
    #too_small	{diplay: block; margin-top: -14px}
}
@media screen and (min-width: 500px) {
    #too_small		{display: none}
}
</style>

<script type="text/javascript">

var bit = new Array(4);
bit[0] = false;
bit[1] = false;
bit[2] = false;
bit[3] = false;
var bit_display = new Array(2);
var switch_display = new Array(4);
var image_cache1 = new Image();
image_cache1.src = "../assets/images/bulb_on.png";
var image_cache2 = new Image();
image_cache2.src = "../assets/images/dark_on.png";
var image_cache3 = new Image();
image_cache3.src = "../assets/images/burglar_on.png";
var image_cache4 = new Image();
image_cache4.src = "../assets/images/switch_on.png";
switch_display[0] = new Array(2);
switch_display[1] = new Array(2);
switch_display[2] = new Array(2);
switch_display[3] = new Array(2);
bit_display[false] = "url(../assets/images/bulb_off.png)";
bit_display[true] = "url(../assets/images/bulb_on.png)";
switch_display[0][false] = "url(../assets/images/dark_off.png)";
switch_display[0][true] = "url(../assets/images/dark_on.png)";
switch_display[1][false] = "url(../assets/images/burglar_off.png)";
switch_display[1][true] = "url(../assets/images/burglar_on.png)";
switch_display[2][false] = "url(../assets/images/switch_off.png)";
switch_display[2][true] = "url(../assets/images/switch_on.png)";
switch_display[3][false] = "url(../assets/images/switch_off.png)";
switch_display[3][true] = "url(../assets/images/switch_on.png)";

function toggle_switch(switch_no)
{
    document.getElementById(switch_no).style.backgroundImage = switch_display[switch_no][bit[switch_no] = !bit[switch_no]];
    if(switch_no < 2) { show_result(1); } else { show_result(2); }
}

function show_result(circuit_no)
{
    if(circuit_no == 1) { var a = 0, b = 1; } else { var a = 2, b = 3; }

    switch(document.getElementById("R"+circuit_no).value)
    {
        case "AND":
            document.getElementById("result"+circuit_no).style.backgroundImage = bit_display[bit[a] && bit[b]];
            break;
        case "OR":
            document.getElementById("result"+circuit_no).style.backgroundImage = bit_display[bit[a] || bit[b]];
            break;
        case "NAND":
            document.getElementById("result"+circuit_no).style.backgroundImage = bit_display[!(bit[a] && bit[b])];
            break;
        case "NOR":
            document.getElementById("result"+circuit_no).style.backgroundImage = bit_display[!(bit[a] || bit[b])];
            break;
        case "EOR":
            document.getElementById("result"+circuit_no).style.backgroundImage = bit_display[bit[a] != bit[b]];
            break;
        case "NXOR":
            document.getElementById("result"+circuit_no).style.backgroundImage = bit_display[!(bit[a] != bit[b])];
            break;
        default:
            document.getElementById("result"+circuit_no).style.backgroundImage = bit_display[false];
    }
}

function disableSelection(target)
{
    if(typeof target.onselectstart!="undefined") //IE route
        target.onselectstart=function(){return false;}
    else if(typeof target.style.MozUserSelect!="undefined") //Firefox route
        target.style.MozUserSelect="none";
    else //All other route (ie: Opera)
        target.onmousedown=function(){return false;}
    target.style.cursor = "default";
}
</script>



<img src="../assets/images/AND_gate.png" alt="AND" class="tile">
<img src="../assets/images/OR_gate.png" alt="OR" class="tile">
<img src="../assets/images/NAND_gate.png" alt="NAND" class="tile">
<img src="../assets/images/NOR_gate.png" alt="NOR" class="tile">
<img src="../assets/images/EOR_gate.png" alt="EOR" class="tile">
<img src="../assets/images/XNOR_gate.png" alt="NXOR" class="tile">
<div class="clipboard_div"><div id="clipboard"></div></div>
<p style="clear:left">You can also click/tap a symbol to copy it and then click/tap to paste it into the box. </p>
<div style="display: inline-block">
    <div class="circuit">
        <h2 align="center" >Two-Way Light Switch</h2>
        <p>In your house you probabably have a light with more than one switch - e.g. landing lights often have switches upstairs and downstairs.  Add the correct logic gate to the circuit and see if you can get this light work to work in the same way.  You can click on <em>Upstairs</em> and <em>Downstairs</em> switches to change them.</p>
        <div class="container">
            <div style="width: 100px; height: 210px; float:left">
                <div id="2" class="switch" onClick="toggle_switch(2);">
                    <div class="label">Upstairs</div>
                </div>
                <div id="3" class="switch" onClick="toggle_switch(3);"><div class="label">Downstairs</div></div>
            </div>
            <div style="margin: 30px 0px 0px 10px; float: left"><img src="../assets/images/input.png" width="91" height="201" alt="Upstairs"></div>
            <div id="Q2" class="drop"></div><input id="R2" onChange="show_result(2);" type="hidden">
            <div style="margin: 28px 5px 0px 0px; float: left"><img src="../assets/images/output.png" width="91" height="201" alt="Downstairs"></div>
            <div id="result2" class="bulb"></div>
        </div></div>
    <div class="circuit">
        <h2 align="center">Security Light</h2>
        <p>You can buy security lights that come on only when it's dark and they sense some movement. Add the correct logic gate to the circuit and see if you can get it to work (you can click on <em>Darkness</em> and <em>Movement</em> to change them).</p>
        <div class="container">
            <div style="width: 100px; height: 210px; float:left">
                <div id="0" class="dark" onClick="toggle_switch(0);"><div class="label">Darkness</div></div>
                <div id="1" class="burglar" onClick="toggle_switch(1);"><div class="label">Movement</div></div>
            </div>
            <div style="margin: 30px 0px 0px 10px; float: left"><img src="../assets/images/input.png" width="91" height="201" alt="Darkness"></div>
            <div id="Q1" class="drop"></div><input id="R1" onChange="show_result(1);" type="hidden">
            <div style="margin: 28px 5px 0px 0px; float: left"><img src="../assets/images/output.png" width="91" height="201" alt="Movement"></div>
            <div id="result1" class="bulb"></div></div>
    </div></div>
<div id="too_small">Unfortunately your screen is too small to display this page correctly.  If you are using a tablet or phone you could try turning it round to landscape orientation.</div>

<script type="text/javascript">

    function receive_drop(e)
    {
        if(e.target.tagName == "IMG") { var drop_area = e.target.parentNode.id; } else { var drop_area = e.target.id; }
        var answer_area = "R" + drop_area.substring(1);
        e.preventDefault();
        if(e.dataTransfer.getData('Text') != null && e.dataTransfer.getData('Text').substring(0,4) != "http")
        {
            document.getElementById(drop_area).innerHTML = e.dataTransfer.getData('Text');
            document.getElementById(answer_area).value = image.getAttribute('alt');
        }
        e.cancelBubble = true;
        show_result(1);
        show_result(2);
        return false;
    }

    function clicked(e)
    {
        if(e.target.tagName == "IMG") { var drop_area = e.target.parentNode.id; } else { var drop_area = e.target.id; }
        var answer_area = "R" + drop_area.substring(1);
        e.preventDefault();
        if(document.getElementById("clipboard").innerHTML > "")
        {
            document.getElementById(drop_area).innerHTML = document.getElementById("clipboard").innerHTML;
            document.getElementById(answer_area).value = answer;
            document.getElementById("clipboard").innerHTML = "";
        }
        e.cancelBubble = true;
        show_result(1);
        show_result(2);
        return false;
    }

    function cancelEvent() { return false; }

    var image, copied, answer;
    disableSelection(document.body);

    var drops = document.getElementsByClassName('drop'), i = drops.length;
    while(i--) {
        drops[i].ondragenter = cancelEvent;
        drops[i].ondragover = cancelEvent;
        drops[i].ondrop = function (event) { receive_drop(event || window.event); };
        drops[i].ondragover = function () { return false; };
        drops[i].onclick = function (event) { clicked(event || window.event); };
    }

    var imgs = document.getElementsByClassName('tile');
    i = imgs.length;
    while(i--) {
        imgs[i].ondragstart = function (event) {
            event = event || window.event;
            event.dataTransfer.setData('Text', '<img src="'+this.src+'">');
            image = this;
        }
        imgs[i].onclick = function (event) {
            event = event || window.event;
            document.getElementById("clipboard").innerHTML = '<img src="'+this.src+'">';
            copied = this;
            answer = this.getAttribute('alt');
        }
    }

</script>
