<script type="text/javascript">

	// [Critical Content]
	// Load State for Sidebar Functionality
	var sidebar = document.querySelector("div.side-bar");
	var mainContent = document.getElementById("top");
	var isSidebar = localStorage.getItem('Sidebar');
	if (isSidebar == null) {
		sidebar.classList.remove('active');
		mainContent.classList.remove('sidebar-toggle');
	}
	else if (isSidebar == 0) {
		isSidebar = 0;
		localStorage.setItem('Sidebar', isSidebar);
		sidebar.classList.add('active');
		mainContent.classList.add('sidebar-toggle');
	}
	else {
		sidebar.classList.remove('active');
		mainContent.classList.remove('sidebar-toggle');
	}

	// Wait for the page to load first
	$(document).ready(function () {
		var sidebarButton = document.getElementById("sidebarCollapse");
		sidebarButton.onclick = function () {
			if (isSidebar == 0) {
				isSidebar = 1;
				localStorage.setItem('Sidebar', isSidebar);
				sidebar.classList.toggle("active");
				mainContent.classList.toggle("sidebar-toggle");
			}
			else {
				isSidebar = 0;
				localStorage.setItem('Sidebar', isSidebar);
				sidebar.classList.toggle("active");
				mainContent.classList.toggle("sidebar-toggle");
			}
		}
	})

	// Progress-bar 
	const progress_bar = document.querySelector('#progress-bar')
	const main_content= document.querySelector('#main-content-wrap')

	const animateProgressBar = () => {
		let scrollDistance = -main_content.getBoundingClientRect().top;
		let progressWidth = (scrollDistance / (main_content.getBoundingClientRect().height - document.documentElement.clientHeight ) )*100;
		if(progressWidth<6){
			progress_bar.style.width = 0 + '%';
		}
		else{
			progress_bar.style.width = progressWidth + '%';
		}
	}
	window.addEventListener('scroll',animateProgressBar);
</script>