<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">

    {% assign pages_list = site.html_pages | sort:"nav_order" %}
    {% for node in pages_list %}
      {% unless node.nav_exclude %}
        {% if node.parent == nil %}
        <div class="flex-container">
        <div class="connector">

          {% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %}
          <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1">
            <g id="CourseProfile" stroke="none" stroke-width="1" fill="#026e57" fill-rule="evenodd">
              <g id="CourseProfileLogedIN" transform="translate(-135.000000, -351.000000)" stroke="none">
                <circle id="Oval-10" cx="140.5" cy="357" r="5">
                </circle>
              </g>
            </g>
          </svg>

          {% else %}
          <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1">
            <g id="CourseProfile" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
              <g id="CourseProfileLogedIN" transform="translate(-135.000000, -351.000000)" stroke="#979797">
                <circle id="Oval-10" cx="140.5" cy="357" r="5">
                </circle>
              </g>
            </g>
          </svg>


          {% endif %}

        </div>
        <div class="sub_heading">
          <li class="navigation-list-item{% if page.url == node.url or page.parent == node.title or page.grand_parent == node.title %} active{% endif %}">
            {% if page.parent == node.title or page.grand_parent == node.title %}
              {% assign first_level_url = node.url | absolute_url %}
            {% endif %}
            <a href="{{ node.url | absolute_url }}" class="navigation-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
            {% if node.has_children %}
              {% assign children_list = site.html_pages | sort:"nav_order" %}
              <ul class="navigation-list-child-list ">
                {% for child in children_list %}
                  {% if child.parent == node.title %}
                    <li class="navigation-list-item {% if page.url == child.url or page.parent == child.title %} active{% endif %}">
                      {% if page.url == child.url or page.parent == child.title %}
                        {% assign second_level_url = child.url | absolute_url %}
                      {% endif %}
                      <a href="{{ child.url | absolute_url }}" class="navigation-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
                      {% if child.has_children %}
                        {% assign grand_children_list = site.html_pages | sort:"nav_order" %}
                        <ul class="navigation-list-child-list">
                          {% for grand_child in grand_children_list %}
                            {% if grand_child.parent == child.title %}
                              <li class="navigation-list-item {% if page.url == grand_child.url %} active{% endif %}">
                                <a href="{{ grand_child.url | absolute_url }}" class="navigation-list-link{% if page.url == grand_child.url %} active{% endif %}">{{ grand_child.title }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        </div>

        </div>


        {% endif %}
      {% endunless %}
    {% endfor %}

  </ul>
</nav>
