p .link-button,
.link-button-nav {
  background: none;
  border: 0;
  box-shadow: none;
  display: none;
  line-height: 1.4;
  margin-left: 3px;
  max-height: 100%;
  padding: 0;
}

.main-sub-heading:hover > p > .link-button,
.navigation-list-link:hover > .link-button-nav {
  display: inline;
}

.main-sub-heading:hover > p > button.link-button:hover,
.navigation-list-link:hover > button.link-button-nav:hover {
  box-shadow: none;
  filter: invert(31%) sepia(62%) saturate(678%) hue-rotate(119deg) brightness(93%) contrast(98%);
}

.link-button img,
.link-button-nav img {
  background: none;
  border: 0;
  box-shadow: none;
  filter: brightness(0) invert($link-img-invert);
  max-width: 100%;
}

.link-button img {
  width: 10px;
}

.link-button-nav img {
  padding-left: 0;
  width: 8px;
}
