/*
Error: Undefined variable: "$body-heading-color".
        on line 8 of navigation.scss

3: //
4: 
5: .site-title {
6:   display: block;
7:   flex: 1 1 auto;
8:   color: $body-heading-color;
9:   background-color: $sidebar-color;
10: 
11:   @include mq(md) {
12:     position: absolute;
13:     top: 0;

Backtrace:
navigation.scss:8
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/amansingla/.rvm/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/amansingla/.rvm/gems/ruby-2.5.1@global/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/amansingla/.rvm/gems/ruby-2.5.1/bin/sass:23:in `load'
/Users/amansingla/.rvm/gems/ruby-2.5.1/bin/sass:23:in `<main>'
/Users/amansingla/.rvm/gems/ruby-2.5.1/bin/ruby_executable_hooks:24:in `eval'
/Users/amansingla/.rvm/gems/ruby-2.5.1/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$body-heading-color\".\A         on line 8 of navigation.scss\A \A 3: //\A 4: \A 5: .site-title {\A 6:   display: block;\A 7:   flex: 1 1 auto;\A 8:   color: $body-heading-color;\A 9:   background-color: $sidebar-color;\A 10: \A 11:   @include mq(md) {\A 12:     position: absolute;\A 13:     top: 0;"; }
