$correct-color: #5cd65c;
$incorrect-color: #ff6666;
$default-color: #f1f1f1;
$border-color: #eeebee;
$shadow-color: #eeeeee;
$text-color: #111111;

.quiz {
  display: none;
}

.pop-quiz {
  display: block;
  margin-top: 100px;
  text-align: center;
}

.quiz-question {
  margin-bottom: 0.5rem;
  margin-top: 1rem;

  em {
    font-size: 0.9em;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
  }

  code {
    font-size: 0.9em;
  }
}

.quiz-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .quiz-answer {
    background-color: $default-color;
    border: 1px solid $border-color;
    border-radius: 0.2rem;
    box-shadow: 1px 1px $shadow-color;
    color: $text-color;
    cursor: pointer;
    line-height: 2rem;
    margin: 0.2rem;
    min-width: 10rem;
  }
}

.quiz-show-answer {
  &.quiz-true {
    background-color: $correct-color;
  }

  &.quiz-false {
    background-color: $incorrect-color;
  }
}
